* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 940px;
}

/* _______________________________________________same STYLES for TITLEs and TEXTs__________________________________ */

.portfolio__title,
.about-us__title {
    font-size: 30px;
    font-weight: 900;
    line-height: 22px;
    padding-top: 67px;
}

.portfolio__text,
.about-us__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    padding-top: 34px;
    letter-spacing: -0.21px;
}


/* _________________________________________________________PORTFOLIO_____________________________________________ */

.portfolio {
    height: 864px;
    background: #272C38;
}

.portfolio__title,
.portfolio__text,
.portfolio__nav {
    color: #636D8B;
}

.portfolio__nav {
    padding-top: 15px;
}

.portfolio__nav ul li {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid;
    border-radius: 5px;
    padding: 4px 7px;
    margin: 0 2px;
    transition: all 0.3s;
}

.portfolio__nav ul li:first-child {
    margin-left: 0;
}

.portfolio__nav ul li:hover {
    cursor: pointer;
    color: #C6C6C6;
    transition: all 0.3s;
}

.portfolio__items {
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.portfolio__items img {
    width: 220px;
    height: 187px;
}

.portfolio__items img:nth-child(n+13) {
    display: none;
}

.portfolio__bottom {
    height: 6px;
    background: #2C3445;
}

/* ___________________________________________________ABOUT-US______________________________________________________ */

.about-us {
    height: 728px;
    background: #F2F2F2;
}

.about-us__title,
.about-us__text {
    color: #636D8B;
}

.about-us__text {
    padding-top: 28px;
    line-height: 1.58;
    letter-spacing: -0.2px;
    text-align: justify;
}

.about-us__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 45px;
}

.about-us__items .about-us__item:nth-child(n+4) {
    display: none;
}

.about-us__item-title:hover,
.about-us__item-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.about-us__item {
    max-width: 300px;
}

.about-us__item-title,
.about-us__item-text {
    color: #636D8B;
}

.about-us__item-title {
    font-size: 18px;
    font-weight: 900;
    padding-top: 10px;
    letter-spacing: -0.2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.about-us__item-text {
    font-size: 12px;
    padding-top: 9px;
    line-height: 1.7;
    text-align: justify;
}

.about-us__item-social-networks {
    padding-top: 25px;
}

.about-us__item-social-networks-icons {
    padding: 2px;
    transition: all 0.3;
}

.about-us__item-social-networks-icons:hover {
    color: #ffffff;
    transition: all 0.3;
}

.about-us__bottom {
    height: 6px;
    color: #ffffff;
}